<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Welcome to Our Online Store!</h2>
                                <p>
                                    Eshopper là trang web thương mại điện tử.Các sản phẩm này chứa tất cả các sản phẩm Thương mại điện tử chuyên nghiệp,có nhiều chức năng như Trang chủ, Cửa hàng,
                                    Chi tiết cửa hàng, Giỏ hàng, Thanh toán, Liên hệ, v.v. Chúng tôi sẽ tiếp tục nâng cấp thiết kế  để thu hút người dùng và nâng cao doanh số bán sản phẩm.
                                    Nó hoàn hảo để mua sắm bất kì sản phẩm trực tuyến nào theo cách dễ dàng nhất có thể.Trang thương mại điện tử Ezshoper chính là thứ bạn đang tìm kiếm.
                                </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/home/banner_laptop_1.jpg" class="girl img-responsive" alt="" />
                                <img src="~/images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Big Sale - Up to 50% Off on Selected Items!</h2>
                                <p>
                                    Eshopper là trang web thương mại điện tử.Các sản phẩm này chứa tất cả các sản phẩm Thương mại điện tử chuyên nghiệp,có nhiều chức năng như Trang chủ, Cửa hàng,
                                    Chi tiết cửa hàng, Giỏ hàng, Thanh toán, Liên hệ, v.v. Chúng tôi sẽ tiếp tục nâng cấp thiết kế  để thu hút người dùng và nâng cao doanh số bán sản phẩm.
                                    Nó hoàn hảo để mua sắm bất kì sản phẩm trực tuyến nào theo cách dễ dàng nhất có thể.Trang thương mại điện tử Ezshoper chính là thứ bạn đang tìm kiếm.
                                </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/home/banner_laptop_2.jpg" class="girl img-responsive" alt="" />
                                <img src="~/images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Easy service and payment with MoMo</h2>
                                <p>
                                    Eshopper là trang web thương mại điện tử.Các sản phẩm này chứa tất cả các sản phẩm Thương mại điện tử chuyên nghiệp,có nhiều chức năng như Trang chủ, Cửa hàng,
                                    Chi tiết cửa hàng, Giỏ hàng, Thanh toán, Liên hệ, v.v. Chúng tôi sẽ tiếp tục nâng cấp thiết kế  để thu hút người dùng và nâng cao doanh số bán sản phẩm.
                                    Nó hoàn hảo để mua sắm bất kì sản phẩm trực tuyến nào theo cách dễ dàng nhất có thể.Trang thương mại điện tử Ezshoper chính là thứ bạn đang tìm kiếm.
                                </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/home/momo.jpg" class="girl img-responsive" alt="" />

                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Easy service and payment with MoMo</h2>
                                <p>
                                    Eshopper là trang web thương mại điện tử.Các sản phẩm này chứa tất cả các sản phẩm Thương mại điện tử chuyên nghiệp,có nhiều chức năng như Trang chủ, Cửa hàng,
                                    Chi tiết cửa hàng, Giỏ hàng, Thanh toán, Liên hệ, v.v. Chúng tôi sẽ tiếp tục nâng cấp thiết kế  để thu hút người dùng và nâng cao doanh số bán sản phẩm.
                                    Nó hoàn hảo để mua sắm bất kì sản phẩm trực tuyến nào theo cách dễ dàng nhất có thể.Trang thương mại điện tử Ezshoper chính là thứ bạn đang tìm kiếm.
                                </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/images/home/banner_laptop_4.jpg" class="girl img-responsive" alt="" />
                                <img src="~/images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->