
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container">

    <div class="login-form">
        <!--login form-->
        <h2>Login to your account!</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="Login" asp-controller="Account">
            <div class="form-group">
                <label>User Name</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div>
                <button class="btn btn-success">Login</button>
                <a asp-controller="Account" asp-action="Create">Tạo tài khoản mới</a>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
