@model IEnumerable<OrderDetailsModel>
@using System.Globalization
@{
    ViewData["title"] = "Order Details";
}



<h3>List Order Details</h3>



<table class="table table-bordered">
    <thead>
        <tr>

            <th class="text-center" scope="col">Mã đơn hàng</th>
            
           

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>@item.OrderCode</td>
            </tr>
        }


    </tbody>
</table>

