@model ASP.Net_EzShoper.Models.BrandModel

@{
    ViewData["Title"] = "Brand Details";
}

<div class="container mt-4">
    <h2 class="text-center">Chi tiết thương hiệu</h2>

    <form>
        <div class="form-group">
            <label for="Id">Mã thương hiệu:</label>
            <input type="text" class="form-control" id="Id" value="@Model.Id" readonly />
        </div>

        <div class="form-group">
            <label for="Name">Tên thương hiệu:</label>
            <input type="text" class="form-control" id="Name" value="@Model.Name" readonly />
        </div>

        <div class="form-group">
            <label for="Slug">Slug:</label>
            <input type="text" class="form-control" id="Slug" value="@Model.Slug" readonly />
        </div>

        <div class="form-group">
            <label for="Status">Trạng thái thương hiệu:</label>
            @if (Model.Status == 1)
            {
                <span class="text text-success">Hiển thị</span>
            }
            else
            {
                <span class="text text-danger">Ẩn</span>
            }
        </div>

        <div class="form-group">
            <label for="Description">Mô tả thương hiệu:</label>
            <textarea class="form-control" id="Description" rows="3" readonly>@Model.Description</textarea>
        </div>



    </form>
    <a asp-action="Index" asp-controller="Brand" class="btn btn-danger">Quay lại danh sách</a>

</div>

